 header {
    background: linear-gradient(to right, #0099DD, #20315a);
    /* height: 60px; */
}


.form-group {
    display: flex;
    flex-direction: column;

}

.weather-search {
    margin-bottom: 15px;
    padding: 7px;
    width: 100%;
    border-radius: 7px;
    box-sizing: border-box;
}
.input-group {
    display: flex;
    flex-direction: column;
}

.search-button,.input-goup-append { 
    width: 100%;
    border: none;
    margin-top: 5px;
    padding: 7px;
    box-sizing: border-box;
    /* size: 100%; */
  
}

.temp, .wind, .humidity {
    font-weight: normal;
    font-size: medium;
}
/* #today {
    padding: 10px;
    border: 1px solid black;
} */
#today {
    padding: 10px;
}

#today.bordered {
    border: 1px solid black;
}

div {
    border: 2px solid red;
}

#forecast {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.day-container {
    padding: 10px;
    background-color: #4F5F73;
    color: white;
}
