 header {
    background: linear-gradient(to right, #0099DD, #20315a);
    /* height: 60px; */
}

/* h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
 */

.form-group {
    display: flex;
    flex-direction: column;

}

.weather-search {
    margin-bottom: 15px;
    padding: 7px;
    width: 100%;
    border-radius: 7px;
    box-sizing: border-box;
}

.search-button, .input-goup-append {
    width: 450%;
    border: none;
    margin-top: 5px;
    padding: 7px;
    box-sizing: border-box;
}

/* .search-button {
    width: 100%;
    color: #0099DD;
} */
.hr {
    width: 450%;
}
#temp, #wind, #humidity {
    font-weight: normal;
    font-size: medium;
}
/* #today {
    padding: 10px;
    border: 1px solid black;
} */
#today {
    padding: 10px;
}

#today.bordered {
    border: 1px solid black;
}
